body{
    background-color: pink;
}
nav{
    background-color: white;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    padding-right: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: sans-serif;
    z-index: 1;
}
nav a{
    color: black;
    text-decoration: none;
    padding-top: 20px;
    margin-right: 10px;
    width: 80px;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}
nav a:hover{
    background-color: aqua;
    transition: 2s;

}
nav img{
    margin-right: auto;
}
.container{
    width: 780px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
    margin-top: 70px;
}
.row{
    display: flex;
    gap: 15px;
}
.product-image{
    width: 400px;
}

.product-image img{
    width: 100%;
    object-fit: fill;
    background-color: white;
}
.caption{
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 10px;
}
.related-product{
    width: 180px;
    background-color: orange;
    padding: 15px;
    border: 2px solid black;
    position: relative;
}
.related-product img{
    width: 100%;
    object-fit: cover;
}
.related-product-name{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    visibility: hidden;
}
.related-product:hover .related-product-name{
    visibility: visible;
}
footer{
    width: 100%;
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}
.main-img{
    position: relative;
}
.main-img img{
    width: 100%;
}

.main-caption{
    width: 300px;
    border: 3px solid black;
    background-color: lightblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}
.main-img:hover .main-caption{
    visibility: visible;
}
.members{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.members img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 20px purple;
}
.members h3, p{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}